header{
  background-color:#ea5169;
  display: flex;
  justify-content: center;
}

}
img{
  height:200px;
  width: auto;
<<<<<<< HEAD
}
footer{
  display: flex;
  background-color:#ea5169;
  justify-content: space-around;
}
