header{
  background-color:#ea5169;
  display: flex;
  justify-content: center;
}
/* #gallery{
  display: flex;
}
img{
  height:200px;
  width: auto;
<<<<<<< HEAD
}
footer{
  display: flex;
  background-color:#ea5169;
  justify-content: space-around;
}
=======
} */
>>>>>>> parent of 1daba22... watermelon gallery created
